:root {
    --color-g-white: #ffffff;
    --color-g-text: #000000;
    --color-g-gray: #e2e2e2;
    --color-g-gray-light: #f5f5f5;
    --color-g-primary: #f42c37;
    --color-g-secondary: #cfcfcf;
}
/* prettier-ignore */
#app {
    --color-app-text-08: rgba(0, 0, 0, 0.8);
    --color-app-text-06: rgba(0, 0, 0, 0.6);
    --color-app-text-04: rgba(0, 0, 0, 0.4);
    --color-app-dark-gray: #484848;
    --color-app-pale-link: #f78da7;
    --color-app-vivid-red: #cf2e2e;
    --color-app-luminous-vivid-orange: #ff6900;
    --color-app-luminous-vivid-amber: #fcb900;
    --color-app-light-green-cyan: #7bdcb5;
    --color-app-vivid-green-cyan: #00d084;
    --color-app-green: #2dcc6e;
    --color-app-pale-cyan-blue: #8ed1fc;
    --color-app-vivid-purple: #9b51e0;

    --gradient-gray-light-gray-90: linear-gradient(90deg, #e2e2e2 24%, #f5f5f5 100%);
    --gradient-gray-light-gray-273: linear-gradient(273deg, #e2e2e2 40%, #f5f5f5 73%);
}

$color-g-white: var(--color-g-white, #ffffff);
$color-g-text: var(--color-g-text, #000000);
$color-g-gray: var(--color-g-gray, #e2e2e2);
$color-g-gray-light: var(--color-g-gray-light, #f5f5f5);
$color-g-primary: var(--color-g-primary, #f42c37);
$color-g-secondary: var(--color-g-secondary, #cfcfcf);

$color-app-text-08: var(--color-app-text-08, rgba(0, 0, 0, 0.8));
$color-app-text-06: var(--color-app-text-06, rgba(0, 0, 0, 0.6));
$color-app-text-04: var(--color-app-text-04, rgba(0, 0, 0, 0.4));
$color-app-dark-gray: var(--color-app-dark-gray, #484848);
$color-app-pale-link: var(--color-app-pale-link, #f78da7);
$color-app-vivid-red: var(--color-app-vivid-red, #cf2e2e);
$color-app-luminous-vivid-orange: var(--color-app-luminous-vivid-orange, #ff6900);
$color-app-luminous-vivid-amber: var(--color-app-luminous-vivid-amber, #fcb900);
$color-app-light-green-cyan: var(--color-app-light-green-cyan, #7bdcb5);
$color-app-vivid-green-cyan: var(--color-app-vivid-green-cyan, #00d084);
$color-app-green: var(--color-app-green, #2dcc6e);
$color-app-pale-cyan-blue: var(--color-app-pale-cyan-blue, #8ed1fc);
$color-app-vivid-purple: var(--color-app-vivid-purple, #9b51e0);

$gradient-gray-light-gray-90: var(--gradient-gray-light-gray-90, linear-gradient(90deg, #e2e2e2 24%, #f5f5f5 100%));
$gradient-gray-light-gray-273: var(--gradient-gray-light-gray-273, linear-gradient(273deg,var(--e-global-color-accent) 40%,var(--e-global-color-d8899ec) 73%));
